body {
  background-color: antiquewhite;
}

.jumbotron {
	text-align: center;
	background-size: cover;
	margin-top:0;
	margin-bottom: 0; 
	 background: url("/images/tiamat.jpg") no-repeat center center; 
	height: 100%;
	
	
}

.navbar.navbar-dark {
	margin-bottom: 0;
	background-color:#000000;
}

.nav > li > a:hover{
    background-color: burlywood;
}

#jumboText {
  color: antiquewhite;
	text-align: center;
}

#jumboSubText {
  color: antiquewhite;
	text-align: center;
}

.navText{
	color: antiquewhite;
}

.navbar-brand{
	color: brown;
}

.navbar-toggle{
	background-color: brown;
}

.icon-bar{
	background-color: antiquewhite;
}

.bg-2{
	margin: 0;
	background-color: brown;
}

.topicText{
	color: antiquewhite;
}

.topicSubtext{
	color: antiquewhite;
}

.row{
	height: 600px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: antiquewhite;
  color: #000000;
  text-align: center;
}
