body {
  background-color: antiquewhite;
}

.jumbotron {
	text-align: center;
	background-color: brown;
	height: auto;
	margin-top:0;
	margin-bottom: 0; 
	
}

.navbar.navbar-dark {
	margin-bottom: 0;
	background-color: goldenrod;
}

.nav > li > a:hover{
    background-color: burlywood;
}

#jumboText {
  color: antiquewhite;
	text-align: center;
}

#jumboSubText {
  color: antiquewhite;
	text-align: center;
}

.navText{
	color: antiquewhite;
}

.navbar-brand{
	color: brown;
}

.navbar-toggle{
	background-color: brown;
}

.icon-bar{
	background-color: antiquewhite;
}

.bg-2{
	margin: 0;
	background-color: darkolivegreen;
}

.topicText{
	color: antiquewhite;
}

.topicSubtext{
	color: antiquewhite;
}

.row{
	height: 600px;
}
