body {
  background-color: antiquewhite;
}

.jumbotron {
	text-align: center;
	background-size: cover;
	margin-top:0;
	margin-bottom: 0; 
	 background: url("/images/tiamat.jpg") no-repeat center center; 
	height: 100%;
	
	
}

.navbar.navbar-dark {
	margin-bottom: 0;
	background-color:#000000;
}

.nav > li > a:hover{
    background-color: burlywood;
}

#jumboText {
  color: antiquewhite;
	text-align: center;
}

#jumboSubText {
  color: antiquewhite;
	text-align: center;
}

.navText{
	color: antiquewhite;
}

.navbar-brand{
	color: brown;
}

.navbar-toggle{
	background-color: brown;
}

.icon-bar{
	background-color: antiquewhite;
}

.bg-2{
	margin: 0;
	background-color: brown;
}

.bg-3{
	align-content: center;
	padding-bottom: 50px;
}
.bg-4{

	margin-top: 100px;
	align-content: center;
	
	width: auto;
	height: auto;
}

.formHeader{
	color: black;
	align-content: center; 
}
.formText{
	color: black;
	padding-top: 50px;
 

}
.topicText{
	color: antiquewhite;
}

.topicSubtext{
	color: antiquewhite;
}




.col-sm-4{
	padding-bottom: 50px;
}




.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: antiquewhite;
  color: #000000;
  text-align: center;
}


